[submodule "src/tagslam"]
	path = src/tagslam
	url = https://github.com/berndpfrommer/tagslam.git
	branch = master
[submodule "src/tagslam_test"]
	path = src/tagslam_test
	url = https://github.com/berndpfrommer/tagslam_test.git
	branch = master
[submodule "src/apriltag"]
	path = src/apriltag
	url = https://github.com/versatran01/apriltag.git
[submodule "src/flex_sync"]
	path = src/flex_sync
	url = https://github.com/daniilidis-group/flex_sync.git
	branch = master
[submodule "src/tagslam_web"]
	path = src/tagslam_web
	url = https://github.com/berndpfrommer/tagslam_web.git
	branch = master
[submodule "src/tagslam_viz"]
	path = src/tagslam_viz
	url = https://github.com/berndpfrommer/tagslam_viz.git
